@import '../../index.scss';


.work-item{

  max-width: 40%;
  margin: 5%;

  @include screen-size(mobile){
    max-width: 100%;
    margin: 0;

  }

  @include screen-size(tablet){
    max-width: 100% ;
    margin: 0;
  }


  
  &:hover{
    animation: hover-project .5s ease-in forwards;
  }

  &.box{
    margin-bottom: 10%;
    &>:last-child{
      margin-bottom: 2.5rem;
    }
  }
  
  .media{
    display: block;
    .media-content{
      padding: 5%;
      .content:not(:last-child){
        margin-bottom: 3.5rem;
      }
    }
  }
  
  .empty-tag{
    display: none;
  }
    
  

  .date-content{
    .icon-calendar{
      margin-right: .5rem;
      vertical-align: text-bottom;
    }
  }

  .image{
    display: block;

  }

  

  .level{
    display: flex;
    
    .level-item{
      color: gray;
      :hover{
        color: black;
      }
    }
  }
}

@keyframes hover-project{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.04);

  }
}