@import '../../index.scss';

  .skills{
    list-style-type: circle;
    padding-top: 4em;
    padding-left: 5em;
    
    text-align: justify;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    color: black;
    line-height: 40px!important;

    @include screen-size(mobile){
      padding-top: 1em;
      padding-left: 2em;
    }
  }