.title{
    font-family: 'sen', sans-serif;
    color: black;
    font-weight: 800;
    font-size: xx-large;
    margin-top: 4em;
  }
  
  .skills{
    list-style-type: circle;
    padding: 2em 5em;
    text-align: justify;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    color: black;
    
  }