@import '../../index.scss';


  // @keyframes aboutText{
  //     0%{
  //       right:  10px;
  //       opacity: 0;
  //     }
  //     100%{
  //       right: 0;
  //       opacity: 1;
  //     }
  //   

  // @keyframes aboutMe{
  //   0% {
  //     top: 10px;
  //     opacity: 0;
  //   }
  //   100% {
  //     top: 0;
  //     opacity: 1;
  //   }
  // }

  section#about-me{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-top: 30vmin;
    
  }
  .intro-text{
    font-family: 'sen', sans-serif; 
    font-weight: medium; //500
    font-size: 6vmin;
    color: black;
    
    .name {
      font-weight: bold; //800
      font-size: 7vmin;
    }
  }
  
  
  .pictures{
    width: 100%;
    margin: auto;
  }


  // .plain-text{
  //   font-weight: 400;
  //   text-align: justify;
  //   font-family: 'Sen', sans-serif; 
  //   color: red;

  // }

  .text-about-me{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;

    @include screen-size(tablet) {
      grid-template-columns: 100%;
    }
    @include screen-size(mobile) {
      grid-template-columns: 100%;
    }
  }

 

  