@keyframes aboutText{
    0%{
      right:  10px;
      opacity: 0;
    }
    100%{
      right: 0;
      opacity: 1;
  
    }
  }
  
  .about-text{
    // margin: 5em 4em;
    margin-top: 5em;
    margin-left: 10%;
    margin-bottom: 2em;
    font-family: 'sen', sans-serif; 
    font-weight: 500;
    font-size: 6vmin;
    color: black;
    animation: aboutText 1s ease-in;
  }
  
  .name {
    font-family: 'sen', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 7vmin;
  }
  
  @keyframes aboutMe{
    0% {
      top: 10px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  
  .social-media{
    animation: aboutMe 1s ease-in;
    margin-bottom: 7em;
    text-align: center;

   
  }
  
  .media-icon{
    color: black;
    align-self: center;
    &:not(:nth-child(1)){
      margin-left: 4em;
    }
  }
  
  .pictures{
    width: 70%;
    margin: auto;
  }

  @media only screen and (max-width: 501px ){
   
    .about-text{
      font-size: 5vmin;
      margin-top: 29%;
      margin-left: 10%;
      margin-bottom: 10%;
      // margin: 5em 4em;

    }
    .name {
      font-size: 5vmin;
    }

    .media-icon:not(:nth-child(1)){
      margin-left: 2em;
    }
    
  }
  