@import '../../index.scss';


  // @keyframes navbar-shadow{
  //   from{
  //     opacity: 0;
  //   }
  //   to{
  //     opacity: 1;
  //   }
  // }

  .scroll-shadow{
    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    // animation: navbar-shadow 1s ease-in forwards;

  } 

  .navbar{
    padding: 0.5em 5%;
    text-align: justify;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    
  }
  
  .navbar-brand {
    color: black;
    font-weight: 200;
    font-family: 'krona one', sans-serif;
    font-size: var(--normal-text);
  }
  .brand-name {
    align-self: center; 
    // font-size: 10px;
    font-size: 90%;
    @include screen-size(mobile){
      font-size: 100%
    }


  }
  
  
  .item{
    margin-left: 2em;
    color: black;
  }

  
  .item:hover{ 
    color:black !important;
    background-color: white !important;
    animation: lift-up 1s ease-out forwards;
  }

  .navbar-burger{
    border-radius: 0!important;
  }

