.works-list{
    display: flex;
    flex-flow:  wrap;
    justify-content: space-evenly; 

    &>:nth-child(1){
      .content-image{
        background-color: aliceblue;
      }
    }
    &>:nth-child(2){
      .content-image{
        background-color: lavender;
      }
    }
    &>:nth-child(3){
      .content-image{
        background-color: lighten($color: darksalmon, $amount: 15); //papayawhip;
      }
    }
    &>:nth-child(4){
      .content-image{
        background-color: whitesmoke;
      }
    }
    &>:nth-child(5){
      .content-image{
        background-color: lighten($color: darkseagreen, $amount: 22);//darkseagreen;
      }
    }
  }
 
  
  
  // .App {
  //   text-align: center;
  // }
  
  // .App-logo {
  //   height: 40vmin;
  //   pointer-events: none;
  // }
  
  // @media (prefers-reduced-motion: no-preference) {
  //   .App-logo {
  //     animation: App-logo-spin infinite 20s linear;
  //   }
  // }
  
  // .App-header {
  //   background-color: #282c34;
  //   min-height: 100vh;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   font-size: calc(10px + 2vmin);
  //   color: white;
  // }
  
  // .App-link {
  //   color: #61dafb;
  // }
  
  // @keyframes App-logo-spin {
  //   from {
  //     transform: rotate(0deg);
  //   }
  //   to {
  //     transform: rotate(360deg);
  //   }
  // }
  
  