@import '../../index.scss';


.social-media{
    text-align: center;
    padding: 2.5vmin;

  }
  
  .media-icon{
    color: black;
    align-self: center;
    &:not(:nth-child(1)){
      margin-left: 8vmin;
    }
    &:hover{
      color: gray;
    }
  }